{% from "macros/email/base_content.html" import greeting %}
{% from "macros/email/content.html" import show_expires_in %}

{% extends "email/base_email.html" %}

{% block content %}

{{ greeting(user) }}

<p>
  We received a request from your <strong>account settings</strong> to delete your account.
  Click the button below to confirm deletion:
</p>

<div class="text-center my-3">
  <a href="{{ url_for('auth.delete_account', token=token, _external=True) }}" class="btn btn-danger">
    Delete Account
  </a>
</div>

{{ show_expires_in(expires_in) }}

<p>
  If <strong>you did not request this</strong>, it may mean someone else is trying to delete your account.
  To keep your account secure, we recommend <strong>changing your password immediately.</strong>
</p>

{% endblock %}
