{% from "macros/email/base_content.html" import greeting %}

{% extends "email/base_email.html" %}

{% block content %}

{{ greeting(user) }}

<p>
  Your Google account was automatically linked successfully to your RM Stock Tracker account
  when you signed in with Google.
</p>

<p>
  You can now sign in using either Google or your email and password.
</p>

<p>
  If you did not perform this action, we recommend reviewing your account security:
</p>

<div class="text-center my-3">
  <a href="{{ url_for('auth.settings_account', _external=True) }}" class="btn btn-danger">
    Review Account Security
  </a>
</div>

{% endblock %}
