{% from "macros/email/email_content.html" import greeting %}
{% from "macros/email/email_content.html" import show_expires_in %}

{% extends "email/base_email.html" %}

{% block content %}

{{ greeting(user) }}

<p>
  We received a request from your <strong>account settings</strong> to reset your password.
  Click the button below to set a new one:
</p>

<div class="text-center my-3">
  <a href="{{ url_for('auth.reset_password', token=token, _external=True) }}" class="btn">
    Reset Password
  </a>
</div>

{{ show_expires_in(expires_in) }}

<p>
  If <strong>you did not request this</strong>, it may indicate that someone else has access to your account.
  For your security, we recommend <strong>changing your password immediately.</strong>
</p>

{% endblock %}
