{% from "macros/email/base_content.html" import greeting %}

{% extends "email/base_email.html" %}

{% block content %}

{{ greeting(user) }}

<p>
  You have successfully created a password for your RM Stock Tracker account.
</p>

<p>
  You can now log in using either your email and password or Google.
</p>

<p>
  If this wasn’t you, please reset your password immediately to protect your account:
</p>

<div class="text-center my-3">
  <a href="{{ url_for('auth.reset_password_request', _external=True) }}" class="btn btn-danger">
    Reset Password
  </a>
</div>

{% endblock %}
