{% from "macros/email/base_content.html" import greeting %}

{% extends "email/base_email.html" %}

{% block content %}

{{ greeting(user) }}

<p>
  Your account password has been successfully removed.
</p>

<p>
  You can now sign in using your linked Google account only.
</p>

<p>
  If you did not make this change, we strongly recommend securing your account immediately:
</p>

<div class="text-center my-3">
  <a href="{{ url_for('auth.reset_password_request', _external=True) }}" class="btn btn-danger">
    Secure My Account
  </a>
</div>

{% endblock %}
