{% extends "email/base_email.html" %}

{% block content %}

<p>Hi {{ user.first_name }},</p>
<p>Welcome to RM Stock Tracker! Please verify your email address to activate your account:</p>
<div class="text-center my-3">
  <a href="{{ url_for('auth.verify_email', token=token, _external=True) }}" class="btn">
    Verify Email
  </a>
</div>
<p>
  This link will expire in
  {% if expires_in %}
    {{ (expires_in / 60) | int }} minutes.
  {% else %}
    24 hours.
  {% endif %}
  Once verified, you can access your account and set up your watchlist.
</p>

{% endblock %}
