{% macro search_bar(id) %}
    <div id="{{ id }}" class="search-container position-relative mx-auto">
      <input
        type="text"
        id="search-bar"
        class="form-control form-control-lg border border-dark border-2"
        placeholder="Search for a stock (e.g., AAPL, Microsoft)..."
        autocomplete="off"
        role="combobox"
        aria-label="Stock search bar"
        aria-autocomplete="list"
        aria-expanded="false"
        aria-controls="suggestions"
      />

      <!-- Suggestions list will appear below the search bar -->
      <div id="suggestions" class="list-group position-absolute w-100 d-none"></div>
    </div>
{% endmacro %}