{% extends "base.html" %}

{% block title %}
    {% block auth_form_title %} {% endblock %}
{% endblock %}

{% block content %}
  <section class="container d-flex align-items-start justify-content-center pt-4 pb-4">
    <div id="auth-card" class="card shadow-sm rounded-3">
      <div class="card-body p-4">
        {% block auth_form_content %} {% endblock %}
      </div>
    </div>
  </section>
{% endblock %}

{% block script %}
  <script>
    // Passing the password policy to JS script
    const PASSWORD_POLICY = {{ PASSWORD_POLICY | tojson }};
  </script>

  <script src="{{ url_for('auth.static', filename='js/auth.js') }}" type="text/javascript" defer></script>
{% endblock %}
