{% from "macros/auth_form_components.html" import form_heading, form_separator, form_agreement %}
{% from "macros/auth_fields.html" import form_field, submit_field, password_field with context %}
{% from "macros/google_btn.html" import google_btn %}

{% extends "auth_form_base.html" %}

{% block auth_form_title %}
    Log In | RM Stock Tracker
{% endblock %}

{% block auth_form_content %}

{{ form_heading(text="Log In") }}

{{ google_btn() }}

{{ form_separator() }}

<form method="POST"
      action="{{ url_for('auth.login', next=request.args.get('next')) }}"
      novalidate>
  {{ form.hidden_tag() }}

  {{ form_field(field=form.email, placeholder="Enter your email") }}
  {{ password_field(field=form.password, placeholder="Enter your password") }}

  {{ submit_field(field=form.submit, class="btn btn-primary btn-lg") }}
</form>

<div class="text-center">
  <small>Don't Have an Account? <a class="text-primary fw-semibold"  href="{{ url_for('auth.signup') }}">Sign Up</a></small>
  <br>
  <small>Forgot Your Password? <a class="text-primary fw-semibold"  href="{{ url_for('auth.reset_password_request') }}">Reset Password</a></small>
</div>

{{ form_agreement() }}

{% endblock %}
