{% from "macros/auth_fields.html" import form_field %}

{% extends "base.html" %}

{% block title %}
    Reset Password Request
{% endblock %}

{% block content %}
  <section class="container d-flex align-items-start justify-content-center pt-4 pb-4">
    <div id="auth-card" class="card shadow-sm rounded-3">
      <div class="card-body p-4">
        <h3 class="text-center mb-4">Reset Password Request</h3>
        <p class="text-muted text-center mb-4 small">
          Enter your email to receive a secure link to reset your password.
        </p>
        <form method="POST" novalidate>
          {{ form.hidden_tag() }}

          {{ form_field(field=form.email, placeholder="Enter your email") }}

          <div class="d-grid mb-3">
            {{ form.submit(class="btn btn-primary btn-lg") }}
          </div>
        </form>
      </div>
    </div>
  </section>
{% endblock %}

{% block script %}
  <script src="{{ url_for('auth.static', filename='js/auth.js') }}" type="text/javascript" defer></script>
{% endblock %}