{% from "macros/auth_form_components.html" import form_heading, form_submit %}
{% from "macros/auth_fields.html" import form_field, password_field with context %}

{% extends "auth_form_base.html" %}

{% block auth_form_title %}
    Reset Your Password
{% endblock %}

{% block auth_form_content %}

{{ form_heading(text="Reset Your Password") }}

<p class="text-muted text-center my-4 small">
  Choose a strong new password to secure your account
</p>
<form method="POST" novalidate>
  {{ form.hidden_tag() }}

  {{ password_field(field=form.password, placeholder="Create a new password", check_requirements=True) }}
  {{ form_field(field=form.confirm_password, placeholder="Confirm password") }}

  {{ form_submit(form=form, class="btn btn-primary btn-lg") }}
</form>

{% endblock %}
