{% from "macros/auth_form_components.html" import form_heading, form_submit %}
{% from "macros/auth_fields.html" import form_field %}

{% extends "auth_form_base.html" %}

{% block auth_form_title %}
    Reset Password Request
{% endblock %}

{% block auth_form_content %}

{{ form_heading(text="Reset Password Request") }}

<p class="text-muted text-center my-4 small">
  Enter your email to receive a secure link to reset your password.
</p>
<form method="POST" novalidate>
  {{ form.hidden_tag() }}

  {{ form_field(field=form.email, placeholder="Enter your email") }}

  {{ form_submit(form=form, class="btn btn-primary btn-lg") }}
</form>

{% endblock %}
