{% from "macros/auth_form_components.html" import form_heading %}
{% from "macros/auth_fields.html" import form_field, submit_field, password_field with context %}

{% extends "auth_form_base.html" %}

{% block auth_form_title %}
    Set Password | RM Stock Tracker
{% endblock %}

{% block auth_form_content %}

{{ form_heading(text="Set a Password") }}

<p class="text-muted text-center my-4 small">
  You recently re-authenticated with Google. Create a password to enable email login.
</p>
<form method="POST" novalidate>
  {{ form.hidden_tag() }}

  {{ password_field(field=form.password, placeholder="Create a password", check_requirements=True) }}
  {{ form_field(field=form.confirm_password, placeholder="Confirm password") }}

  {{ submit_field(field=form.submit, class="btn btn-success btn-lg") }}
</form>

{% endblock %}
