{% from "macros/auth_form_components.html" import form_heading, form_separator, form_agreement %}
{% from "macros/auth_fields.html" import form_field, submit_field, password_field with context %}
{% from "macros/google_btn.html" import google_btn %}

{% extends "auth_form_base.html" %}

{% block auth_form_title %}
    Sign Up | RM Stock Tracker
{% endblock %}

{% block auth_form_content %}

{{ form_heading(text="Create an Account") }}

{{ google_btn() }}

{{ form_separator() }}

<form method="POST" novalidate>
  {{ form.hidden_tag() }}

  {{ form_field(field=form.email, placeholder="Enter your email") }}

  <div class="d-flex gap-2">
    {{ form_field(field=form.first_name, placeholder="Enter your first name") }}
    {{ form_field(field=form.last_name, placeholder="Enter your last name") }}
  </div>

  {{ form_field(field=form.username, placeholder="Choose a username") }}

  {{ password_field(field=form.password, placeholder="Create a password", check_requirements=True) }}
  {{ form_field(field=form.confirm_password, placeholder="Confirm password") }}

  {{ submit_field(field=form.submit, class="btn btn-success btn-lg") }}
</form>

<div class="text-center">
  <small>Already have an account? <a class="text-primary fw-semibold" href="{{ url_for('auth.login') }}">Log In</a></small>
</div>

{{ form_agreement() }}

{% endblock %}
