{% macro form_heading(text) %}
    <h3 class="text-center mb-3">{{ text }}</h3>
    <div class="border-top"></div>
{% endmacro %}

{% macro form_submit(form, class) %}
  <div class="d-grid mb-3">
    {{ form.submit(class=class) }}
  </div>
{% endmacro %}

{% macro form_separator() %}
  <div class="d-flex align-items-center my-3">
    <div class="flex-grow-1 border-top"></div>
    <span class="mx-3 text-muted small fw-semibold">OR</span>
    <div class="flex-grow-1 border-top"></div>
  </div>
{% endmacro %}