{% macro password_field(field, placeholder, check_requirements=False) %}
<div class="mb-3">
  <div class="input-group">
    <div class="form-floating">
        {{ field(class="form-control", placeholder=placeholder, autocomplete="new-password") }}
        {{ field.label() }}
    </div>
    <button id="toggle-password" type="button" class="btn btn-outline-secondary">
      <i class="bi bi-eye-slash fs-5"></i>
    </button>
  </div>
  {% if field.errors %}
    <div id="error-{{ field.name }}" class="text-danger small">{{ field.errors[0] }}</div>
  {% endif %}

  {% if check_requirements %}
    <div id="password-requirements" class="small mt-2 text-start d-none">
      <ul class="list-unstyled ms-1">
        <li id="pw-length" class="text-danger">
          <i class="bi bi-x-circle-fill"></i> At least 8 characters
        </li>
        <li id="pw-upper" class="text-danger">
          <i class="bi bi-x-circle-fill"></i> Uppercase letter
        </li>
        <li id="pw-lower" class="text-danger">
          <i class="bi bi-x-circle-fill"></i> Lowercase letter
        </li>
        <li id="pw-number" class="text-danger">
          <i class="bi bi-x-circle-fill"></i> Number
        </li>
        <li id="pw-special" class="text-danger">
          <i class="bi bi-x-circle-fill"></i> Special character (e.g., !@#$...)
        </li>
      </ul>
    </div>
  {% endif %}

</div>
{% endmacro %}
