{% from "macros/popovers.html" import dma_200_diff_popover %}

{% macro folder_table_header(folder_id, label, attribute_data, folder_sort_by_attribute, folder_sort_by_order) %}

<th scope="col" class="align-middle">
  <div class="d-flex align-items-center justify-content-between">
    <span class="fw-semibold">
      {{ label }}
      {% if attribute_data.attribute.value == FolderAttribute.DMA_200_PERC_DIFF %}
        {{ dma_200_diff_popover() }}
      {% endif %}
    </span>
    {% if attribute_data.attribute.value != FolderAttribute.NAME %}
      <!-- Filter Button -->
      <button
        class="btn btn-link p-0 m-0 ms-1 folder-table-header-btn
         {% if attribute_data.min_value is not none or attribute_data.max_value is not none %}
           text-primary
         {% else %}
           text-secondary
         {% endif %}"
        data-bs-toggle="modal"
        data-bs-target="#filterFolderModal"
        data-attribute-id="{{ attribute_data.id }}"
        data-attribute-label="{{ label }}"
        data-min-value="{{ attribute_data.min_value if attribute_data.min_value is not none else '' }}"
        data-max-value="{{ attribute_data.max_value if attribute_data.max_value is not none else '' }}"
        title="Filter"
      >
        <i class="bi bi-filter-square fs-5"></i>
      </button>
    {% endif %}

    <div class="d-flex flex-column ms-1">
      <!-- Ascending Sort -->
      <form method="POST"
            action="{{ url_for('watchlist.update_folder_sort_by', folder_id=folder_id) }}"
            novalidate>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="sort_by_attribute" value="{{ attribute_data.attribute.value }}">
        <input type="hidden" name="sort_by_order" value="{{ OrderBy.ASC.value }}">
        <button type="submit" title="Sort Ascending"
                class="btn btn-link p-0 m-0 folder-table-header-btn {% if folder_sort_by_attribute == attribute_data.attribute.value and folder_sort_by_order == OrderBy.ASC.value %} text-primary {% else %} text-secondary {% endif %}">
          <i class="bi bi-caret-up-fill"></i>
        </button>
      </form>
      <!-- Descending Sort -->
      <form method="POST"
            action="{{ url_for('watchlist.update_folder_sort_by', folder_id=folder_id) }}"
            novalidate>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="sort_by_attribute" value="{{ attribute_data.attribute.value }}">
        <input type="hidden" name="sort_by_order" value="{{ OrderBy.DESC.value }}">
        <button type="submit" title="Sort Descending"
                class="btn btn-link p-0 m-0 folder-table-header-btn {% if folder_sort_by_attribute == attribute_data.attribute.value and folder_sort_by_order == OrderBy.DESC.value %} text-primary {% else %} text-secondary {% endif %}">
          <i class="bi bi-caret-down-fill"></i>
        </button>
      </form>
    </div>
  </div>
</th>

{% endmacro %}