{% from "macros/popovers.html" import dma_200_diff_popover %}
{% from "macros/stock_attributes.html" import stock_todays_change, stock_dma_200_perc_diff %}

{% macro watchlist_folder_table_header(folder_id, attribute_data, folder_sort_by_attribute, folder_sort_by_order, FolderAttribute, OrderBy) %}

<th scope="col">
  <div class="d-flex align-items-center justify-content-between">
    <span>
      {{ table_header_label(attribute_data.attribute, FolderAttribute) }}
    </span>
    {% if attribute_data.attribute.value != FolderAttribute.NAME %}
      <!-- Filter Button -->
      <button
        class="btn btn-link p-0 m-0 ms-1 folder-table-header-btn
         {% if attribute_data.min_value is not none or attribute_data.max_value is not none %}
           text-primary
         {% else %}
           text-body-secondary
         {% endif %}"
        data-bs-toggle="modal"
        data-bs-target="#filterFolderModal"
        data-folder-id="{{ folder_id }}"
        data-attribute-id="{{ attribute_data.id }}"
        data-attribute-label="{{ attribute_data.attribute.label }}"
        data-use-abs="{{ attribute_data.use_abs if attribute_data.use_abs else '' }}"
        data-min-value="{{ attribute_data.min_value if attribute_data.min_value is not none else '' }}"
        data-max-value="{{ attribute_data.max_value if attribute_data.max_value is not none else '' }}"
        title="Filter"
      >
        <i class="bi bi-filter-square fs-5"></i>
      </button>
    {% endif %}

    <div class="d-flex flex-column ms-1">
      <!-- Ascending Sort -->
      <form method="POST"
            action="{{ url_for('watchlist.update_folder_sort_by', folder_id=folder_id) }}"
            class="folder-action-form"
            data-folder-id="{{ folder_id }}"
            data-action="sort"
            novalidate>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="sort_by_attribute" value="{{ attribute_data.attribute.value }}">
        <input type="hidden" name="sort_by_order" value="{{ OrderBy.ASC.value }}">
        <button type="submit" title="Sort Ascending"
                class="btn btn-link p-0 m-0 folder-table-header-btn
                {% if folder_sort_by_attribute == attribute_data.attribute.value and
                folder_sort_by_order == OrderBy.ASC.value %}
                text-primary {% else %} text-body-secondary {% endif %}">
          <i class="bi bi-caret-up-fill"></i>
        </button>
      </form>
      <!-- Descending Sort -->
      <form method="POST"
            action="{{ url_for('watchlist.update_folder_sort_by', folder_id=folder_id) }}"
            class="folder-action-form"
            data-folder-id="{{ folder_id }}"
            data-action="sort"
            novalidate>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="sort_by_attribute" value="{{ attribute_data.attribute.value }}">
        <input type="hidden" name="sort_by_order" value="{{ OrderBy.DESC.value }}">
        <button type="submit" title="Sort Descending"
                class="btn btn-link p-0 m-0 folder-table-header-btn
                {% if folder_sort_by_attribute == attribute_data.attribute.value and
                folder_sort_by_order == OrderBy.DESC.value %}
                text-primary {% else %} text-body-secondary {% endif %}">
          <i class="bi bi-caret-down-fill"></i>
        </button>
      </form>
    </div>
  </div>
</th>

{% endmacro %}

{% macro table_header(text) %}
  <th scope="col">
    {{ text }}
  </th>
{% endmacro %}

{% macro table_header_label(attribute, AttributeType) %}
  {{ attribute.label }}
  {% if attribute.value == AttributeType.DMA_200_PERC_DIFF %}
    {{ dma_200_diff_popover() }}
  {% endif %}
{% endmacro %}

{% macro table_data(attribute, stock, AttributeType) %}
  {% if attribute.value == AttributeType.TODAYS_CHANGE_PERC %}
      <td>
        {{ stock_todays_change(stock) }}
      </td>
  {% elif attribute.value == AttributeType.DMA_200_PERC_DIFF %}
      {{ stock_dma_200_perc_diff(stock) }}
  {% elif attribute.value == AttributeType.DAY_CLOSE %}
      <td class="bg-info-subtle fw-semibold">{{ stock[attribute.value] | currency }}</td>
  {% else %}
      {% if attribute.type == "currency" %}
          <td>{{ stock[attribute.value] | currency }}</td>
      {% elif attribute.type == "percent" %}
          <td>{{ stock[attribute.value] | percent }}</td>
      {% else %}
          <td>{{ stock[attribute.value] | display }}</td>
      {% endif %}
  {% endif %}
{% endmacro %}

{% macro table_data_row_number(index) %}
  <th scope="row">
    {{ index }}
  </th>
{% endmacro %}