{% from "macros/jumbotron.html" import jumbotron %}
{% from "macros/watchlist_forms.html" import add_folder_form %}
{% from "macros/folder_content.html" import folder_content %}
{% from "macros/watchlist_components.html" import use_abs_label_button, no_data_message_big %}
{% from "macros/search_bar.html" import search_bar %}

{% extends "base.html" %}

{% block title %}
    Watchlist
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/search_bar.css') }}">
  <link rel="stylesheet" href="{{ url_for('watchlist.static', filename='styles/watchlist.css') }}">
{% endblock %}

{% block content %}

<!-- Hero Section -->
{% set heading = "Your Watchlist, " ~ current_user | display_name %}
{% set description = "Here’s where you keep track of your favourite stocks. Group them into folders, and quickly check their performance whenever you log in." %}
{% set last_updated = last_updated | display %}

{% set watchlist_alerts_button %}
    <a href="{{ url_for('watchlist.alerts') }}"
       class="btn btn-outline-primary">
        <span class="d-flex align-items-center gap-2">
            <i class="bi bi-bell"></i>
            Watchlist Alerts
        </span>
    </a>
{% endset %}

{{ jumbotron(heading, description, last_updated, watchlist_alerts_button) }}

<section class="container my-4">

  <!-- Add Folder Form -->
  {{ add_folder_form() }}

  <!-- Accordion for Watchlist -->
  <div class="accordion accordion-flush" id="watchlistAccordion">
    {% for folder_id, folder_data in watchlist_data.items() %}
      {{ folder_content(folder_id, folder_data, num_folders, FolderAttribute, AlertAttribute, OrderBy) }}
    {% else %}
      <!-- Empty State when no folders -->
      {{
        no_data_message_big(
          heading="No folders created yet",
          text="Start by creating a folder to organize your watchlist."
        )
      }}
    {% endfor %}
  </div>

  <!-- Add Stock Modal -->
  <div class="modal fade" id="addStockModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addStockModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      <form method="POST"
            action="{{ url_for('watchlist.add_item') }}"
            class="folder-action-form"
            data-folder-id=""
            data-action="add-item"
            id="addStockForm"
            novalidate>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <div class="modal-header">
            <h5 class="modal-title">Add Stock to Folder</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- Hidden fields for folder_id and ticker -->
            <input type="hidden" name="folder_id" id="hidden-folder-id">
            <input type="hidden" name="ticker" id="hidden-ticker">
            {{ search_bar(id="watchlist-search-bar") }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Filter Folder Modal -->
  <div class="modal fade" id="filterFolderModal" tabindex="-1" aria-labelledby="filterFolderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form method="POST"
              action="{{ url_for('watchlist.update_attribute_filters') }}"
              class="folder-action-form"
              data-folder-id=""
              data-action="filter"
              novalidate>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <input type="hidden" name="attribute_id" id="hidden-attribute-id">

          <div class="modal-header">
            <h5 class="modal-title">
              <i class="bi bi-funnel me-1"></i>
              Filter
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>

          <div class="modal-body filter-container">
            <div class="d-flex align-items-center gap-2 justify-content-center">
              <input id="modal-min-value"
                     class="form-control text-center"
                     type="text" name="min-value" placeholder="Min">

              <span class="fw-semibold">&lt;</span>

              <span class="abs-symbol">|</span>

              <span class="fw-semibold w-50 text-center" id="filter-attribute-label"></span>

              <span class="abs-symbol">|</span>

              <span class="fw-semibold">&lt;=</span>

              <input id="modal-max-value"
                     class="form-control text-center"
                     type="text" name="max-value" placeholder="Max">

              <div>
                <input type="checkbox" class="btn-check use-abs-toggle" autocomplete="off"
                       id="modal-use-abs"
                       name="use-abs"
                       aria-describedby="Use absolute value function button">
                {{ use_abs_label_button(label_for="modal-use-abs") }}
              </div>

            </div>
          </div>

          <div class="modal-footer">
            <!-- Default Enter Submit -->
            <input type="submit" name="filter_action" value="apply" hidden>

            <button type="submit" name="filter_action" value="clear" class="btn btn-secondary">Clear</button>
            <button type="submit" name="filter_action" value="apply" class="btn btn-success">Apply</button>
          </div>

        </form>
      </div>
    </div>
  </div>

  <!-- Delete Folder Confirm Modal -->
  <div class="modal fade" id="deleteFolderConfirmModal" tabindex="-1" aria-labelledby="deleteFolderConfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form method="POST"
              action="{{ url_for('watchlist.remove_folder') }}"
              novalidate>

          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <!-- Hidden field for folder_id -->
          <input type="hidden" name="folder_id" id="delete-folder-id">

          <div class="modal-header">
            <h5 class="modal-title">Delete Folder</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>
              This action will permanently delete the folder
              <strong id="delete-folder-name"></strong>.
            </p>
            <p class="text-danger mb-0">
              This action cannot be undone.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-danger">Delete Folder</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</section>

{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/search_bar.js') }}" type="text/javascript" defer></script>
    <script src="{{ url_for('watchlist.static', filename='js/watchlist.js') }}" type="text/javascript" defer></script>
    <script src="{{ url_for('watchlist.static', filename='js/folder_actions.js') }}" type="text/javascript" defer></script>
    <script src="{{ url_for('watchlist.static', filename='js/accordion_state.js') }}" type="text/javascript" defer></script>
{% endblock %}
