{% from "macros/jumbotron.html" import jumbotron %}
{% from "macros/watchlist_components.html" import no_data_message_big %}
{% from "macros/table_components.html" import table_header, table_data %}
{% from "macros/alert_folder_content.html" import alert_folder_body, alert_folder_body_placeholder %}

{% extends "base.html" %}

{% block title %}
  Watchlist Alerts | RM Stock Tracker
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{{ url_for('watchlist.static', filename='styles/watchlist.css') }}">
{% endblock %}

{% block content %}

<!-- Hero Section -->
{% set heading = "Watchlist Alerts Overview" %}
{% set description = "An informative dashboard showing which of your watchlist alerts are currently triggered, based on the latest market data." %}
{% set last_updated = last_updated | display %}

{% set watchlist_button %}
    <a href="{{ url_for('watchlist.index') }}"
       class="btn btn-outline-primary">
        <span class="d-flex align-items-center gap-2">
            Go to Watchlist
        </span>
    </a>
{% endset %}

{{ jumbotron(heading, description, last_updated, watchlist_button) }}

<section class="container my-4">

  {% if num_user_alerts == 0 %}
    {{
      no_data_message_big(
        heading="No alerts created yet",
        text="Start by creating alerts for folders and stocks in your watchlist."
      )
    }}
  {% endif %}

  <div class="accordion accordion-flush" id="watchlistAlertsAccordion">

    {% for folder_id, folder_data in watchlist_alert_data.items() %}
      <div class="accordion-item border border-2 border-secondary shadow-sm mb-3"
           id="accordion-item-{{ folder_id }}"
           data-watchlist-folder-id="{{ folder_id }}">
        <h2 class="accordion-header">
          <button class="accordion-button fw-bold collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-{{ folder_id }}"
                  aria-expanded="false"
                  aria-controls="collapse-{{ folder_id }}">
            {{ folder_data.folder_order }}) {{ folder_data.folder_name }}
          </button>
        </h2>

        <div id="collapse-{{ folder_id }}"
             class="accordion-collapse collapse"
             aria-labelledby="accordion-item-{{ folder_id }}">
          <div class="accordion-body position-relative">
            <div id="accordion-body-{{ folder_id }}"
                 class="folder-fade">
              {{ alert_folder_body_placeholder(folder_id, folder_data) }}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

{% endblock %}

{% block script %}
  <script src="{{ url_for('watchlist.static', filename='js/accordion_state.js') }}" type="text/javascript" defer></script>
  <script src="{{ url_for('watchlist.static', filename='js/watchlist_alerts.js') }}" type="text/javascript" defer></script>
{% endblock %}
