{% from "macros/jumbotron.html" import jumbotron %}

{% extends "base.html" %}

{% block title %}
    Indexes
{% endblock %}

{% block style %}
    <link href="{{ url_for('static', filename='styles/all_indexes.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

  <!-- Hero Section -->
  {% set heading = "Indexes Dashboard" %}
  {% set description = "Browse various market indexes and see all the stocks in each one. Sort and filter by key metrics like price, 200-day average, or today's change to explore trends and performance." %}
  {% set last_updated = last_updated | display %}
  {{ jumbotron(heading, description, last_updated) }}

  <!-- Index Cards Grid -->
  <section class="container mb-5 px-5 pt-2">
    <div class="row justify-content-center">
      {% for index in indexes %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center mb-4">
          <a href="{{ url_for('show_index', index_id=index.slug) }}" class="text-decoration-none w-100">
            <div class="index-card card-hover bg-light shadow-sm d-flex align-items-center text-center justify-content-center">
              <span class="index-title text-dark fw-semibold">{{ index.name }}</span>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </section>

{% endblock %}
