{% from "macros/cards.html" import home_card %}

{% extends "base.html" %}

{% block title %}
    RM Stock Tracker
{% endblock %}

{% block content %}
<div class="pt-5 mt-5">

  <!-- Hero Section -->
  <section class="py-5 mb-5">
    <div class="container text-center">
      <h1 class="display-4 text-body-emphasis">Welcome to RM Stock Tracker!</h1>
      <p class="lead mt-3 col-lg-8 mx-auto">
        RM Stock Tracker helps you keep track of stocks and market indexes in a clear and simple way. You can search for companies, check key stats, follow top movers, and explore detailed financial data - all in one place.
      </p>
    </div>
  </section>

  <!-- Cards Row for Stocks and Indexes -->
  <section class="mb-5">
    <div class="container">
      <div class="row g-4">
        <!-- Stock Insights Card -->
        {% set heading = "Stock Insights" %}
        {% set description = "Search for any stock and see important numbers like market cap, volume, daily price change, 200-day average, and more. Use this to understand how a stock is doing at a glance." %}
        {% set button_text = "Explore Stocks" %}
        {% set url = url_for("all_stocks") %}
        {{ home_card(heading, description, button_text, url) }}

        <!-- Index Overview Card -->
        {% set heading = "Index Overview" %}
        {% set description = "Explore popular indexes like S&P 500 or Nasdaq 100 and see the list of companies inside them. Check performance data, sort or filter the data and click on any stock to learn more." %}
        {% set button_text = "View Indexes" %}
        {% set url = url_for("all_indexes") %}
        {{ home_card(heading, description, button_text, url) }}
      </div>
    </div>
  </section>

</div>
{% endblock %}
