{% from "macros/cards.html" import home_card %}

{% extends "base.html" %}

{% block title %}
  RM Stock Tracker - Explore U.S. Stocks and Market Indices Seamlessly
{% endblock %}

{% block content %}
<div class="pt-5 mt-5">

  <!-- Hero Section -->
  <section class="py-5 mb-5">
    <div class="container text-center">
      <h1 class="display-4 fw-semibold text-body-emphasis">Welcome to RM Stock Tracker!</h1>
      <p class="lead mt-3 col-lg-8 mx-auto">
        RM Stock Tracker helps you keep track of U.S. stocks and major market indices in a clear and simple way. You can search for companies, check key stats, interact with historical stock charts, follow top movers, and explore detailed financial data - all in one place.
      </p>
    </div>
  </section>

  <!-- Cards Row for Stocks and Indices -->
  <section class="mb-5">
    <div class="container">
      <div class="row g-4">
        <!-- Stocks Dashboard Card -->
        {% set heading = "Stocks Dashboard" %}
        {% set description = "Search for any U.S. stock or follow top movers. See important stats like daily price change, volume, moving averages, and more. Use this to understand how a stock is doing at a glance." %}
        {% set button_text = "Explore Stocks" %}
        {% set url = url_for("all_stocks") %}
        {{ home_card(heading, description, button_text, url) }}

        <!-- Indices Dashboard Card -->
        {% set heading = "Indices Dashboard" %}
        {% set description = "Explore popular U.S. market indices like S&P 500 or Nasdaq 100 and see the list of companies inside them. Check performance data, sort or filter the data and click on any stock to learn more." %}
        {% set button_text = "Explore Indices" %}
        {% set url = url_for("all_indices") %}
        {{ home_card(heading, description, button_text, url) }}
      </div>
    </div>
  </section>

</div>
{% endblock %}
