{% from "macros/popovers.html" import dma_200_diff_popover %}
{% from "macros/jumbotron.html" import jumbotron %}
{% from "macros/stock_attributes.html" import stock_todays_change, stock_dma_200_perc_diff %}

{% extends "base.html" %}

{% block title %}
  {{ stock.ticker | display }} - {{ stock.name | display }} | RM Stock Tracker
{% endblock %}

{% block style %}
  <link href="{{ url_for('static', filename='styles/stock_chart.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
{% if stock.ticker %}
  <!-- Hero Section -->
  {% set heading = stock.ticker ~ " - " ~ (stock.name | display) %}
  {% set description = "See full details about the selected stock, including daily and historical performance, volume, market cap, moving averages,  today's price change, and much more. You can also check related companies in the same sector." %}
  {% set last_updated = stock.last_updated | format_et_datetime | display %}
  {{ jumbotron(heading, description, last_updated) }}

  <!-- Stock Overview -->
  <section class="container mb-5">
    <div class="row">
      <!-- Company Description -->
      <div class="col-lg-4 mb-4 text-center">
        <span class="fs-4 fw-semibold">{{ stock.name | display }}</span>
        <p class="text-muted mt-1">{{ stock.description | display }}</p>
      </div>

      <!-- Data Table -->
      <div class="col-lg-8">
        <div class="table-responsive">
          <table class="table table-bordered table-hover align-middle">
            <tbody>
              <tr><th>Ticker Symbol</th><td>{{ stock.ticker | display }}</td></tr>
              <tr><th>Company Name</th><td>{{ stock.name | display }}</td></tr>
              <tr>
                <th>Homepage</th>
                <td>
                  {% if stock.homepage_url %}
                    <a href="{{ stock.homepage_url }}" target="_blank" class="fw-semibold text-primary">
                      {{ stock.homepage_url }}
                    </a>
                  {% else %}
                    <span>N/A</span>
                  {% endif %}
                </td>
              </tr>
              <tr><th>Industry</th><td>{{ stock.industry | display }}</td></tr>
              <tr><th>List Date</th><td>{{ stock.list_date | display }}</td></tr>
              <tr><th>Type</th><td>{{ stock.type | display }}</td></tr>
              <tr><th>Total Employees</th><td>{{ stock.total_employees | int }}</td></tr>
              <tr>
                <th>Market Cap</th>
                <td>
                  {{ stock.market_cap | currency }}
                  {% if stock.market_cap is not none and stock.market_cap >= 1000 %}
                    ({{ stock.market_cap | humanize_number(decimals=2) }})
                  {% endif %}
                </td>
              </tr>
              <tr><th>Day Open</th><td>{{ stock.day_open | currency }}</td></tr>
              <tr><th>Day High</th><td>{{ stock.day_high | currency }}</td></tr>
              <tr><th>Day Low</th><td>{{ stock.day_low | currency }}</td></tr>
              <tr><th>Day Close</th><td class="fw-semibold bg-info-subtle">{{ stock.day_close | currency }}</td></tr>
              <tr>
                <th>Volume</th>
                <td>
                  {{ stock.volume | int }}
                  {% if stock.volume is not none and stock.volume >= 1000 %}
                      ({{ stock.volume | humanize_number(decimals=2) }})
                  {% endif %}
                </td>
              </tr>
              <tr>
                <th>Today's Change</th>
                <td>
                  {{ stock_todays_change(stock) }}
                </td>
              </tr>
              <tr><th>200 DMA</th><td>{{ stock.dma_200 | currency }}</td></tr>
              <tr>
                <th>200 DMA % Diff {{ dma_200_diff_popover() }}</th>
                {{ stock_dma_200_perc_diff(stock) }}
              </tr>
              <tr><th>50 DMA</th><td>{{ stock.dma_50 | currency }}</td></tr>
              <tr><th>52W High</th><td>{{ stock.high_52w | currency }}</td></tr>
              <tr><th>52W Low</th><td>{{ stock.low_52w | currency }}</td></tr>
              <tr>
                <th>Related Companies</th>
                <td>
                  {% if rel_companies %}
                    {% for ticker in rel_companies %}
                      <a href="{{ url_for('show_stock', ticker=ticker) }}" class="fw-semibold text-primary">
                        {{ ticker }}
                      </a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                  {% else %}
                    <span>N/A</span>
                  {% endif %}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <!-- Stock Chart Section -->
  <section class="container my-5 py-2 border border-dark">
    <!-- Top Controls: Timeframe Selector + Chart Tooltip Toggle -->
    <div class="d-flex flex-wrap align-items-center gap-3 mb-2">
        <div id="tf-btn-toolbar" class="btn-toolbar" role="toolbar" aria-label="Chart time frame selector">
            <div class="btn-group" role="group" aria-label="Timeframe options">
                {% for timeframe in timeframe_options %}
                        <button type="button" class="tf-btn btn btn-outline-secondary"
                                data-timeframe="{{ timeframe }}">
                            {{ timeframe }}
                        </button>
                {% endfor %}
            </div>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="tooltip-toggle">
            <label class="form-check-label" for="tooltip-toggle">Tooltips</label>
        </div>
    </div>

    <!-- Chart Section -->
    <div id="chart-container" class="position-relative">
        <canvas id="stock-chart" data-ticker="{{ stock.ticker }}"></canvas>
        <!-- Chart Loading Spinner Overlay -->
        {{ loading_spinner("chart-loading-spinner", "Chart Loading...", "absolute") }}
    </div>

    <!-- Hover Info Section Below Chart -->
    <div id="hover-info" class="container-fluid mt-2">
        <div class="row text-center border border-secondary rounded py-2">
            <div id="date-value" class="col-6 col-sm-4 col-md-2 fw-semibold"></div>
            <div id="close-price-value" class="col-6 col-sm-4 col-md-2 fw-semibold"></div>
            <div id="ema-30-value" class="col-6 col-sm-4 col-md-2 fw-semibold"></div>
            <div id="ema-50-value" class="col-6 col-sm-4 col-md-2 fw-semibold"></div>
            <div id="ema-200-value" class="col-6 col-sm-4 col-md-2 fw-semibold"></div>
            <div id="volume-value" class="col-6 col-sm-4 col-md-2 fw-semibold"></div>
        </div>
    </div>
  </section>

{% else %}
  <!-- Error Section -->
  <div class="pt-5 mt-5 text-center">
    <h1 class="display-4">Stock Not Found</h1>
    <p class="lead">The requested stock does not exist in our database.</p>
    <a href="{{ url_for('home') }}" class="btn btn-primary mt-3">Go Back Home</a>
  </div>

{% endif %}
{% endblock %}

{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@latest/dist/chart.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8/hammer.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@2.0.1/dist/chartjs-plugin-zoom.min.js"></script>

  <script>
    // Initial chart to show on page load
    const initialChartData = {{ initial_chart_data | tojson }};
    const initialTimeframe = "{{ initial_timeframe }}";

    // Passing the stock change colors to the JS script to color
    // the timeframe tooltips, using jinja filter on dummy values (1,-1)
    const positiveColor = "{{ 1 | stock_change_color }}";
    const negativeColor = "{{ -1 | stock_change_color }}";
  </script>

  <script src="{{ url_for('static', filename='js/stock_chart.js') }}" type="text/javascript"></script>
{% endblock %}