{% extends "base.html" %}

{% block title %}
  {{ index_slug }}
{% endblock %}

{% block content %}
  <h1 class="container text-center my-5">{{ index_name }}</h1>
  <div class="container mb-5">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Rank</th>
          <th scope="col">Name</th>
          <th scope="col">Ticker</th>
          <th scope="col">Weight</th>
          <th scope="col">Last Close</th>
          <th scope="col">200-DMA</th>
          <th scope="col">% Diff</th>
        </tr>
      </thead>
      <tbody>
        {% for stock in index_data %}
        <tr>
          <th scope="row">{{ stock.rank }}</th>
          <td>{{ stock.stock_name }}</td>
          {% if stock.ticker %}
            <td>{{ stock.ticker }}</td>
            <td>{{ stock.weight }}%</td>
            <td>{{ stock.last_close }}</td>
            <td>{{ stock.dma_200 }}</td>
            <td style="background-color: {{ get_stock_color(stock.perc_diff) }};
                       font-weight: bold">
              {{ stock.perc_diff }}
            </td>
          {% else %}
            <td>N/A</td>
            <td>{{ stock.weight }}%</td>
            {% for i in range(3) %}
              <td>N/A</td>
            {% endfor %}
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
