{% extends "base.html" %}

{% block title %}
    Watchlist
{% endblock %}

{% block content %}
    <section class="container">
        {% if current_user.is_authenticated %}
            <h1>Hello {{ current_user.name }}</h1>
        {% else %}
            <h1>Signup/Login to create Watchlist!</h1>
            <a class="btn btn-outline-primary mx-2" href="{{ url_for('login') }}" role="button">Log In</a>
            <a class="btn btn-primary" href="{{ url_for('signup') }}" role="button">Sign Up</a>
        {% endif %}
    </section>
{% endblock %}