.index-card {
  aspect-ratio: 1 / 1;
  border-radius: 12px;
  padding: 1rem;
}

.index-title {
  font-size: 1.2rem;
}

/* Tweak for smaller screens like mobile phones */
@media (max-width: 576px) {
  .index-card {
    aspect-ratio: unset;
    height: 150px;
  }
}
