/**** Styling for Ticker Tape ****/

/* Ticker Container */
.ticker-tape {
  overflow: hidden;
  position: relative;
}

.ticker-track {
  /*
    Set the animation property in the <style> tag
    in the HTML document
  */
  display: inline-flex;
  white-space: nowrap;
  min-width: max-content;
}

.ticker-track:hover {
  animation-play-state: paused;
}

/* Individual Cards */
.ticker-item {
  border-radius: 8px;
  min-width: 200px;
  flex-shrink: 0;
  overflow: hidden;
}

.ticker-content {
  max-width: 300px;
}

/* Animate the Scroll */
@keyframes ticker-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/**** ****/
