/**** Styling for Search Bar ****/

#suggestions {
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.suggestion-item {
  cursor: pointer;
}

/**** Styling for Ticker Tape ****/

/* Ticker Container */
.ticker-tape {
  overflow: hidden;
  position: relative;
}

.ticker-track {
  display: inline-flex;
  white-space: nowrap;
  /* Make the animation seconds equal to 3 times the number
   of stocks being displayed on the ticker tape */
  animation: ticker-scroll 150s linear infinite;
  min-width: max-content;
}

.ticker-track:hover {
  animation-play-state: paused;
}

/* Individual Cards */
.ticker-item {
  border-radius: 8px;
  min-width: 200px;
  font-size: 15px;
  flex-shrink: 0;
  overflow: hidden;
}

/* Animate the Scroll */
@keyframes ticker-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/**** ****/
