#main-navbar {
  z-index: 1100;
}

#page-loading-spinner {
  z-index: 2000;
}

#navbar-logo {
  height: 24px;
  width: 24px;
}

.footer-link:hover {
  text-decoration: underline;
}

.social-icon {
  display: inline-flex;
  font-size: 1.5rem;
  transition: transform 0s ease;
}

.social-icon:hover {
  transform: scale(1.05);
}

.data-attribution-link {
  text-decoration: none;
}

.data-attribution-link:hover {
  text-decoration: underline;
}

#toast-container-div {
  z-index: 1100;
}
