/* Custom styles to be used across the website */

a.text-primary {
  text-decoration: none;
}

a.text-primary:hover {
  text-decoration: underline;
}

.card-hover {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.card-hover:hover {
  transform: scale(1.08);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.cursor-pointer {
  cursor: pointer;
}

.modal {
  z-index: 1200;
}

.stock-name-attribute {
  min-width: 200px;
  max-width: 300px;
}