#suggestions {
  border: 1px solid #ccc;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  background-color: white;
  z-index: 1000;
}

#suggestions div {
  padding: 10px;
  cursor: pointer;
}

#suggestions div:hover {
  background-color: #f1f1f1;
}
