#stock-chart-container {
    width: 100%;
    height: 600px;
    aspect-ratio: 16 / 9;
}

#stock-chart-loading-spinner {
    z-index: 10;
}

#stock-chart-missing-data {
    z-index: 5;
}

.summary-chart-container {
    height: 300px;
}